body {
  font-family: Verdana;
  background: rgb(248, 246, 253);
}

.App {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  border-radius: 16px;
  box-shadow: 10px 5px 5px rgba(65, 50, 100, 0.08);
}

h1 {
  font-weight: 800;
  font-size: 30px;
  color: #272142;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 5px;
}

li:first-letter{
  text-transform: capitalize;
}

li strong {
  color: purple;
  font-weight: normal;
}

.WeatherInfo {
  margin: 30px 0 30px;
}

.temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  margin-left: 5px;
  font-weight: 600;
  font-size: 60px;
  line-height: 1;
}

.temperature-container {
  margin-right: 20px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.WeatherForecast {
  text-align: center;
  margin-top: 40px;
  border-bottom: 3px solid #f9f7fe;
  padding-bottom: 30px;
}

.WeatherForecastDays {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}

.forecast-day {
  color: rgba(39, 33, 66, 0.4);
}

.forecast-temperature {
  color: purple;
  font-weight: bold;
}

.forecast-temperature-min {
  margin-right: 10px;
  opacity: 0.6;
}

form {
  margin-top: 30px;
  border-bottom: 3px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background: #f9f7fe;
  display: inline-block;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 1.5;
  border: none;
  border-radius: 6px;
  padding: 15px 20px;
}

.search-input::placeholder {
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}

.btn {
  background: #885df1;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

footer {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  margin-top: 20px;
}
